.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 21px 21px 21px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}
.screen-header__column i {
  margin-left: 25px;
  position: relative;
}
@keyframes gearRotate {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}
.screen-header .fa-gear:hover {
  animation: gearRotate 1s linear infinite;
}
