#chat-body {
  background-color: #abc0d2;
  height: 500vh;
}
#chat-body .alt-header {
  background-color: #abc1d1;
  top: 0;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--horizontal-space);
  margin-top: 180px;
  z-index: 0;
}
@keyframes timestampAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateX(360deg);
  }
}
.chat-timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 20px;
  margin-bottom: 26px;
  animation: timestampAnimation 0.5s ease-in-out;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.message-row__auth {
  display: block;
  color: var(--font_color);
  font-weight: 600;
  margin-bottom: 8px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__bubble {
  font-size: 18px;
  background-color: white;
  padding: 13px;
  border-radius: 18px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message-row__time {
  font-size: 14px;
  color: var(--font_color);
}
.message-row-own {
  display: flex;
  justify-content: flex-end;
}
.message-row-own .message-row__bubble {
  background-color: var(--yellow);
  border-radius: 18px;
  border-top-right-radius: 0px;
  margin-left: 5px;
}
@keyframes MessageBubbleAnimation {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: none;
  }
}
.message-row__bubble {
  animation: 0.5s MessageBubbleAnimation ease-in-out;
}
@keyframes MessageownBubbleAnimation {
  from {
    transform: translateX(30px);
  }
  to {
    transform: none;
  }
}
.message-row-own .message-row__bubble {
  animation: 0.5s MessageownBubbleAnimation ease-in-out;
}
.reply {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 5px 5px 5px 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}
.reply__column:first-child {
  width: 10%;
  color: var(--font_color);
  position: relative;
}
.reply__column:last-child {
  width: 90%;
  /* display: flex;
  align-items: center; */
}
.reply input {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: var(--line);
  transition: all 0.3s ease-in-out;
}
.reply input::placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.reply__column:last-child > i,
.reply__column button {
  position: absolute;
}
.reply__column:last-child > i {
  color: var(--font_color);
  bottom: 23px;
  right: 60px;
}
.reply__column button {
  right: 8px;
  bottom: 8px;
  border: none;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.reply:focus-within {
  transform: translateY(80px);
}
.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-83px);
}
